[submodule "Music-Transcription-with-Semantic-Segmentation"]
	path = Music-Transcription-with-Semantic-Segmentation
	url = git@github.com:syKevinPeng/Music-Transcription-with-Semantic-Segmentation.git
