:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark-text-color: #222;
  --light-text-color: #ccc;
  color: var(--light-text-color);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* 
header {
  flex-basis: 5em;
  display: flex;
  background-color: #673ab8;
} */

/* 
header nav {
  display: flex;
}

header a {
  color: #fff;
  padding: 0.75rem;
  text-decoration: none;
} */

header a.active {
  background-color: #0005;
}

header a:hover {
  background-color: #0008;
}

main {
  flex: auto;
  display: flex;
  /* align-items: center; */
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  text-align: center;
}

/* @media (max-width: 639px) {
	main {
		margin: 2rem;
	}
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #ccc;
    background-color: #1a1a1a;
  }
} */

/* 













*/

html {
  height: 100%;
}

header {
  flex-basis: 2.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: xx-large;
  background-color: #673ab8;
}

.content {
  height: 100%;

  flex-grow: 1;
  display: flex;
}

.progress-div {
  flex: 1;
  display: flex;
}

.content-div {
  flex: 4;

  margin: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  /* height: 100%; */
  /* overflow-y: scroll; */
}

.fp-overflow {
  height: 100%;
}

.color-light > * {
  color: var(--dark-text-color);
}

figure > h2 {
  display: flex;
  justify-content: center;
}

.sized-plot {
  width: 640px;
  background-color: white;
}
